Binaries
DerivedDataCache
Intermediate
Saved
Build
Content
**/BlackAlder
**/Landscape
**/Megascans
**/StarterContent
**/Assets


.vscode
.vs
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
